body {
    background: #000000;
    color: #ff0000;
    text-align: center;
}

.title{
    text-align: center;
    color: goldenrod;
}

.linkedin{
    text-decoration: underline;
    color: red;
}


#nav-menu{ 
    list-style-type: none; 
    color: aliceblue; 
    text-align: center; 
    font-size: 20px; 
    padding: 5px; 
} 
 
.menu-items{ 
    padding: 4px 8px; 
    border: 1px white solid; 
    text-decoration: none; 
    color: rgb(215, 255, 240); 
    background-color: #915a5a; 
} 
 
.menu-items:hover{ 
    background: rgb(114, 68, 173); 
}

#container{
    margin: 10px auto;
    border: 5px dotted white;
    width: 40%;
    padding: 10px;
}

#result, #head-tail-btn{
    font-size: 40px;
    padding: 4px;
}
