body{
    background: black;
}

.title{
    text-align: center;
    color: aquamarine;
}

.linkedin{
    text-decoration: underline;
    color: red;
}

#nav-menu{
    list-style-type: none;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    padding: 5px;
}

.menu-items{
    padding: 4px 8px;
    border: 1px white solid;
    text-decoration: none;
    color: rgb(215, 255, 240);
    background-color: #915a5a;
}

.menu-items:hover{
    background: rgb(114, 68, 173);
}

#clock{
    border: 2px solid white;
    height: 400px;
    width: 400px;
    margin: 30px auto;
}

#second{
    position: absolute;
    margin: 200px;
    width: 150px;
    height: 2px;
    background: aqua;
    animation: second 60s linear infinite;
    transform-origin: 0% 0%;
        
}

@keyframes second{
    100%{
        transform: rotate(360deg);
    }
}

#minute{
    position: absolute;
    margin: 200px;
    width: 140px;
    height: 3px;
    background: #eaffea;
    animation: minute 3600s linear infinite;
    transform-origin: 0% 0%;
}

@keyframes minute{
    100%{
        transform: rotate(360deg);
    }
}

#hour{
    margin: 200px;
    width: 130px;
    height: 4px;
    background: #ff6a6a;
    animation: hour 43200s linear infinite;
    transform-origin: 0% 0%;
}

@keyframes hour{
    100%{
        transform: rotate(360deg);
    }
}